.brand-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.brand {
    padding-right: 15px;
    padding-left: 15px;
}

.brand img {
    filter: grayscale(100%);
    max-width: 100%;
    height: auto;
}

.brand img:hover {
    filter: grayscale(0);
}

@media screen and (max-width: 1140px) {
    .brand-container {
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .brand {
        padding: 15px;
    }
}